<div>
	<div class="container login-margin-top" >
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xm-12"></div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xm-12 login-outer">
				<div><center><img src="img/download.jpg" class="img-responsive" style="width:87px;margin-bottom:8px;"/></center></div>
				<h3 class="text-center">Login</h3>
	
				<div class="modal-body">
					<form>
						
						<div class="form-group">
							<input type="text"  class="form-control" ng-model="email" name="email" placeholder="Email" required>		
						</div>
						<div class="form-group">
							<input type="password"  name="password" class="form-control" ng-model="password" placeholder="Password" required>	
						</div>   
						     
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-btn" ng-click="loginFunction()">Login</button>
						</div>
					</form>
				</div>

				<!-- <div class="modal-footer">
					<a href="#">Forgot Password?</a>
				</div> -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xm-12"></div>
		</div>	
	</div>
</div>
